*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-image: url('images/bg2.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
}   
.project{
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}
.project-item{
    float: left;
    width: 32%;
    border: 1px solid;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: antiquewhite;
    text-align: center;
    color: black;
}
.project-image{
    width: 100%;
    height: 200px;
}
.footer{
    margin-top: 10px;
    height: 150px;
    background-color: aqua;
    color: black;
}
.footer-item{
    float: left;
    width: 33%;
    margin-top: 10px;
}
.link{
    text-decoration: none;
    color: red;
    display: block;
}

@media screen and (max-width: 1000px){
    .hero{
        color: black;
    }
}

@media screen and (max-width: 900px){
    .hero{
        color: brown;
    }
}