*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-image: url('images/bg2.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
}   
.project{
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}
.project-item{
    float: left;
    width: 32%;
    border: 1px solid;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
}